.profile__name {
  margin: 17.8px auto 0;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 27px;
  text-overflow: ellipsis;
}

@media screen and (min-width: 880px) {
  .profile__name {
    font-size: 42px;
    line-height: 48px;
    margin-left: 0;
    text-align: left;
  }
}
