.profile__info {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 7.3px auto 0;
  text-overflow: ellipsis;
}

@media screen and (min-width: 880px) {
  .profile__info {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}
