.popup__close-button {
  background-color: transparent;
  background-image: url(../../../images/close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 5px;
  top: -45px;
  height: 26px;
  width: 26px;
  border-style: none;
  margin: 0;
}

@media screen and (min-width: 488px) {
  .popup__close-button {
    background-size: contain;
    height: 60px;
    width: 60px;
    padding: 0;
    right: -49px;
    top: -50px;
  }
}
